name: Upload Website

on:
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout docusaurus code
              uses: actions/checkout@v4

            - name: Clone docs repository 1
              uses: actions/checkout@v2
              with:
                  repository: anurag-kanwar-demo-org/anumax-prod-1
                  path: ./docs/prod-1

            - name: Clone docs repository 2
              uses: actions/checkout@v2
              with:
                  repository: anurag-kanwar-demo-org/anumax-prod-2
                  path: ./docs/prod-2

            - name: Set up Node.js
              uses: actions/setup-node@v2
              with:
                  node-version: "20"

            - name: Install dependencies
              run: npm install

            - name: Build app
              run: npm run build

            - name: Upload to S3
              uses: jakejarvis/s3-sync-action@master
              with:
                  args: --acl public-read
              env:
                  SOURCE_DIR: ./
                  AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
                  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
