name: downaload Sitemaps

on:
    workflow_dispatch:

jobs:
    build-sitemap:
        runs-on: ubuntu-latest
        steps:
            - name: checkout sitemaps combiner
              uses: actions/checkout@v4
              with:
                  repository: anurag-kanwar-demo-org/sitmap-combiner
                  path: ./
            - name: pwd
              run: pwd

            - name: ls
              run: ls -lath

            - name: cp home sitemap
              uses: keithweaver/aws-s3-github-action@v1.0.0
              with:
                  command: cp
                  source: s3://docusaurus-proj/sitemap.xml
                  destination: ./xml-files/sitemap-home.xml
                  aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws_region: ${{secrets.AWS_REGION}}
                  flags: --recursive

            - name: cp prod-1 sitemap
              uses: keithweaver/aws-s3-github-action@v1.0.0
              with:
                  command: cp
                  source: s3://docusaurus-proj/prod-1/sitemap.xml
                  destination: ./xml-files/sitemap-prod-1.xml
                  aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws_region: ${{secrets.AWS_REGION}}
                  flags: --recursive

            - name: list sitemaps
              run: ls -lath
            - name: list sitemaps
              run: ls -lath ./xml-files 
